RewriteEngine On
RewriteBase /E_Benta_dropshipping_System/customer/

# Redirect to index.php if not a file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
